#home-navigation {
  height: 100%;
  ul {
    .blocks;
    height: 100%;
    font-size: 0;
    li {
      height: 100%;
      width: 25%;
      overflow: hidden; 
    
      a {
        display: block;
        height: 100%;
        position: relative;
        .transition();
        opacity: .8;
        img {
          position: absolute;
          top: 0;
          height: 100%;
        }

        span {
          .clarendon;
          opacity: 0;
          .transition();
          font-size: 38px;
          color: #fff;
          text-shadow: 2px 1px 2px #000;
          position: absolute;
          top: 50%;
          margin-top: -40px;
          right: 25px;
        }

        &.evenements {
          img {
            right: -90%;
          }
        }

        &.travaux {
          img {
            left: -75%;
          }
        }


        &.portraits {
          img {
            left: -120%;
          }
        }

        &:hover {          
          opacity: 1;
          .js & {
            opacity: 1;
          }
          span {
            opacity: .99;
          }
        }


      }

      // For mobile 
      @media @smartphones-portrait, @ipad-portrait {
        display: block;
        width: 100%;
        height: 25%;
        a {
          img {
            width: 100%;
            height: auto;
            left: 0!important;
          }

          span {
            margin-top: -15px;
          }
        }
      } 

     
    }
  }
}